body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

#gameCanvas{
  background: skyblue;
  border: 3px solid white;
}

#btns{
  position: absolute;
  bottom: 20px;
  width: 300px;
  height: 150px;
}
#btns button{
  position: absolute;
  width: 70px;
  height: 70px;
}

#btns button:active{
  background: #8C8C8C;
}

#btns #leftBtn{
  bottom: 0;
  left: 0;
}

#btns #rightBtn {
  bottom: 0;
  right: 0;
}

#btns #upBtn {
  top: 0;
  left: 115px;
}

#btns #downBtn {
  bottom: 0;
  left: 115px;
}