body {
  display: flex;
  justify-content: center;
  user-select: none;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

#gameCanvas{
  position: absolute;
  background: skyblue;
  border: 3px solid white;
  top: 5%;
  max-width: 90%;
  max-height: 70%;
}

#btns{
  position: absolute;
  margin-left: auto;
  bottom: 5%;
  width: 50%;
  height: 15%;
}

#btns button{
  margin: auto;
  border-radius: 10px;
  border: none;
  position: absolute;
  height: 45%;
  width: 30%;
  text-align: center;
}

#btns button:active{
  background: #8C8C8C;
}

#btns #vectorBtn {
  top: 0;
  left: 0;
}

#btns #leftBtn{
  bottom: 0;
  left: 0;
}

#btns #rightBtn {
  bottom: 0;
  left: 70%;
}

#btns #upBtn {
  top: 0;
  left: 35%;
}

#btns #downBtn {
  bottom: 0;
  left: 35%;
}